
.feed{
  margin: auto;
  width: 40%;
  margin-top: 70px;
}

.card{
  margin : 10px;
}

.form-container{
  margin:auto;
}

.autocomplete{
  display: block;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: white;
  background-color: #0f0e11;
  background-clip: padding-box;
  border: 1px solid #6441a4;
  border-radius: .25rem;
  transition: border-color .15s;
}

.input-group{
  width: 100%;
}

